body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

#container{
    color: white;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 7px 7px 20px black;
    padding: 40px 40px;
}

.digit{
    font-size: 150px;
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px 8px black ;
    
}

.txt{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black ;
}
#btn-container{
    text-align: center;
    margin-top: 20px;
}
.btn{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 25px;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}